@charset "UTF-8";
body{
	min-height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header, footer {
	color: black;
	background-color: hotpink;
	clear: left;
	text-align: center;
	padding: 1em;
}
article{
	width: 100%;
	}
#fileInfo{
	padding: 1em;
	margin: 0px 20px;
}
button{
	background-color: white;
	border: 2px solid gray;
	border-radius: 4px;
	width: 10%;
	padding: 8px 10px;
	margin: 4px 2px;
    text-align: center;
	text-decoration: none;
	margin-left: 10px;
    font-size: 14px;
	cursor: pointer;
}
#exportBtn, #saveBtn{
	float: right;
}
button:hover {background-color: #e7e7e7;}
#editor{
	text-align: center;
	padding: 0 em 1em;
}
#codeEditor{
	width: 95%;
	height: 400px;
}
#filename{
	width: 30%;
	padding: 8px 20px 11px;
    margin: 4px 2px;
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 4px;
	font-size: 14px;
}
img{
	padding-right: 8px;
	vertical-align: middle;
	width: 20px;
	height:20px;
}
#insert{
	padding: 1em;
	margin: 0px 20px;
}
