@charset "utf-8";
body{
	min-height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header, footer {
	color: black;
	background-color: hotpink;
	clear: left;
	text-align: center;
	padding: 1em;
}
article{
	width: 100%;
	display: table;
	}
.description
{
	display: table-cell;
	width: 25%;
	background-color: lightpink;
	vertical-align: top;
	padding: 1em;
}
#tool-info{
	text-align: center;
}
.table
{
	text-align: center;
	display: table-cell;
	width: 75%;
	border-left: 1px solid grey;
}
table {
	width: 100%;
	text-align: center;
}
td
{
	padding-top: 2em;
	padding-bottom: 2em;
}
table td:hover{background-color: #ddd;}
a{
	color: black;
	text-decoration-line: none;
}