@charset "UTF-8";
body{
	min-height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header, footer {
	color: black;
	background-color: hotpink;
	clear: left;
	text-align: center;
	padding: 1em;
}
table{
	border: 1px solid gray;
	width: 100%;
}
th{
	border: 1px solid gray;
}
td{
	border: 1px solid gray;
}
button{
	background-color: white;
	border: 2px solid gray;
	border-radius: 4px;
	width: 8%;
	padding: 8px 10px;
	margin: 4px 2px;
    text-align: center;
	text-decoration: none;
	margin-left: 8px;
    font-size: 14px;
	cursor: pointer;
}
button:hover {background-color: #e7e7e7;}

img{
	padding-right: 8px;
	vertical-align: middle;
	width: 20px;
	height:20px;
}